@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    /*height: 70vh;*/
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-size: max(1200px, 100vw);
    height: 640px;
}

.main .box {
    height: 640px;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    position: relative;
    z-index: 10;
    color: red;
    width: 130px;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: calc(100% - 100px);
    padding: 0 30px;
    gap: 23px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.section-text {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-left: 22%;
    margin-bottom: 30px;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red-nav {
    background-color: red;
    color: white;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.main input, .section-buttons input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}
.hero-buttons, .section-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.section{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
.section-image{
    position: relative;
    width:50%
}

.section-image img{
    position: relative;
    z-index: 10;
    width: 100%;
    border:0;
}

.section-image video{
    position: absolute;
    width: 75%;
}

.section-third .section-image video{
    position: absolute;
    width: 55%;
    top:20%;
    overflow: hidden;
    zoom: 50%;
}

.section>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.section>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

.section>div :nth-child(2), .section>div :nth-child(3) {
    font-size: 24px;
    justify-content: end;
}

.bottom-image{
    border: 2px solid rgba(128,128,128,0.7);
    box-shadow: 0 0 2em 0 rgb(0,0,0);
    border-radius: 0.75rem;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 8%;
    display: flex;
    margin: 0 auto;
    background: rgb(0,0,0);
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 30px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 10px;
    max-width: 60vw;
    margin: 10px 20%;
    cursor: pointer;
}
footer {
    color: rgba(255,255,255,0.7);
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgba(255,255,255,0.7);
}
@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: rgba(255,255,255,0.7);
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}